@import url('https://ranger-4297.github.io/RG/SRC/Stable/ASSETS/CSS/BaseTheme.css');
@import url('https://ranger-4297.github.io/RG/SRC/Stable/ASSETS/CSS/messages.css');
@import url("https://raw.githack.com/Davr1/Guilded-Emoji-Replace/master/emojis/Microsoft_Fluent.css");
@import url("https://raw.githack.com/Davr1/Guilded-Emoji-Replace/master/common.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@900&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.PrismTokenGenericLanguageRenderer-atrule,.PrismTokenGenericLanguageRenderer-atrule-line,.PrismTokenGenericLanguageRenderer-keyword,.PrismTokenGenericLanguageRenderer-tag{color:#fe603f}.PrismTokenGenericLanguageRenderer-annotation{color:#74f8d4}.PrismTokenGenericLanguageRenderer-important{color:#000}.PrismTokenGenericLanguageRenderer-deleted,.PrismTokenGenericLanguageRenderer-deleted-sign{color:#fe603f}.PrismTokenGenericLanguageRenderer-deleted-arrow{color:#fe603f}.PrismTokenGenericLanguageRenderer-inserted,.PrismTokenGenericLanguageRenderer-inserted-sign{color:#bcec6a}.PrismTokenGenericLanguageRenderer-inserted-arrow{color:#bcec6a}.PrismTokenGenericLanguageRenderer-diff{color:#ffb95e}.PrismTokenGenericLanguageRenderer-template-string,.PrismTokenGenericLanguageRenderer-string{color:#fc7d98}.PrismTokenGenericLanguageRenderer-attr-value,.PrismTokenGenericLanguageRenderer-number,.PrismTokenGenericLanguageRenderer-boolean,.PrismTokenGenericLanguageRenderer-regex{color:#c998f9}.PrismTokenGenericLanguageRenderer-null{color:#74f8d4}.PrismTokenGenericLanguageRenderer-selector{color:#9c74f8}.PrismTokenGenericLanguageRenderer-property,.PrismTokenGenericLanguageRenderer-property-line{color:#74a6f8}.PrismTokenGenericLanguageRenderer-class-name,.PrismTokenGenericLanguageRenderer-builtin{color:#ffb95e}.PrismTokenGenericLanguageRenderer-function{color:code-function}.PrismTokenGenericLanguageRenderer-variable{color:code-variable}.PrismTokenGenericLanguageRenderer-less-variable,.PrismTokenGenericLanguageRenderer-variable-line{color:#ffb95e}.PrismTokenGenericLanguageRenderer-underline{text-decoration:underline solid}.PrismTokenGenericLanguageRenderer-strike{text-decoration:line-through solid}.PrismTokenGenericLanguageRenderer-url{text-decoration:underline solid;color:var(--accent-1)}.PrismTokenGenericLanguageRenderer-url-reference{color:var(--accent-2)}.PrismTokenGenericLanguageRenderer-code{color:#eb6ec1}

.CodeLineRenderer,
.MarkRenderer-inline-code,
.MarkRenderer-inline-code-v2 {
  font-family: "JetBrains Mono", monospace;
  background: transparent;
}

:root {
  --background-image: url('https://dragonmkww.github.io/bg.gif');
  --serverlist-image: transparent;
  --usermodal-image: transparent;
  --message-bg: transparent;
  --message-hover-bg: var(--message-bg);
  --mention-bg: var(--message-bg);
  --mention-hover-bg: var(--message-bg);
  --accent-color: rgba(150, 150, 150, 0.5);
  --mention-indent: var(--message-bg);
  --memberlist-size: 5.62%;
  --version1_03: none;
}

.ReactionIcon-image {--sheet: var(--img) !important;}

.WindowsTitleBar-logo {
  display: none !important;
}

.WindowsTitleBar-container::before {
  font-family: 'MuseoModerno', cursive;
  content: 'Comfy Guilded';
  font-size: 15px;
  margin-left: 0.5em;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 0.2em;
  background-image: linear-gradient(to right, rgba(215, 134, 20, 1), rgba(221, 95, 200, 1)) !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.WindowsTitleBar-container::after {
  content: '☕';
  position: absolute;
  left: 150px;
}

.WindowsTitleBar-minimize-button .WindowsTitleBar-button-content {
  background: linear-gradient(to right, rgba(215, 134, 20, 1), rgba(215, 134, 20 , 1)) !important;
}

.WindowsTitleBar-maximize-button .WindowsTitleBar-button-content {
  border-image-source: linear-gradient(to right, rgba(0, 255, 200, 1), rgba(0, 255, 200, 1)) !important;
  border-image-slice: 1;
}

.WindowsTitleBar-close-button .WindowsTitleBar-button-content {
  fill: rgba(221, 95, 200, 1);
}

.WindowsTitleBar-container {
  background: rgba(20, 20, 30, 1) !important;
  border: none !important;
  box-shadow: none !important;
}

.TeamPageSidebarMembersV2-row:hover{
  left: -2px;
  right: 52px;
  box-shadow: 0px 4px 10px 1px rgba(255, 255, 255, 0.25);
}

.NavV4Footer-right,
.LoggedInUserAvatar-container {
  bottom: 0px;
}

.NavV4Footer-footer-content,
.NavV4Footer-right {
  border-radius: 0px 30px 0px 0px;
}

.TeamThreadReplyCreator-unexpanded-wrapper,
.Editor-container,
.Editor-container-type-simple,
.ChatV2MessageReplyTooltipInput-content-input {
  border-radius: 30px;
}

.BadgeV2-container {
  background: rgba(215, 134, 20, 1) !important;
}

.RangeSlider-selected-rail,
.VerticalSelectionIndicator-container,
.GoldenProgressBar-progress {
  background: linear-gradient(to right, rgba(215, 134, 20, 1), rgba(221, 95, 200, 1)) !important;
}

.BrowseFilesButton-container {
  background: linear-gradient(to right, rgba(215, 134, 20, 1), rgba(221, 95, 200, 1));
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.PercentageBar-progress-div {
  background: linear-gradient(to right, rgba(215, 134, 20, 1), rgba(221, 95, 200, 1)) !important;
  border: none !important;
}

.TeamPageSidebarMembersV2-container > .VirtualizedList-container .SidebarInviteButton-container {
  display: none;
}

.VirtualizedList-container {
  position: unset !important;
  height: unset !important;
}

.VirtualizedList-container > *:nth-child(1) {
  height: unset !important;
}

.VirtualizedList-container > * {
  position: unset !important;
}

.TeamPageSidebarMembersV2-section {
  width: 100%;
  height: max-content;
  text-align: center;
}

.LoggedInUserAvatar-online-status {
  background: rgba(57, 61, 62, 1) !important;
}

.SearchBarInput-container,
.SearchBarV2-container,
.CardWrapper-container,
.NavV4Footer-right,
.ScreenHeader-container,
.UserProfilePostPanel-container,
.UploadMediaBox-container,
.MarkRenderer-read-only,
.ChatEmbed-container,
.ChatEmbedFooter-container,
.NavV4FooterGlobalContextDisplay-teams-wrapper,
.NavV4SectionSidebar-container,
.UserSocialGameSummary-container,
.UserCTAPanel-container,
.UserCTAPanel-contents,
.ModalHeaderV2-container,
.MediaUploaderPasteInstructions-container,
.ExplorePageV2-content-container,
.DraftInputWithTitleV2-title-wrapper,
.ChannelActivityDisplay-container,
.ChatChannelAlertBar-container,
.ChatChannelInputStatusBar-container,
.ModalV2-container:not(.ModalV2-container-fullscreen),
.TeamSettingsPermissionsItem-container,
.ReactionPickerOverlay-container,
.ReactionPickerFooter-container,
.TeamChannelItemContents-container,
.Editor-container .Editor-container-type-simple,
.ChatV2MessageReplyTooltipInput-content-input,
.Scrollable-container,
.SidebarInfoItem-container,
.TeamMembersPill-container,
.TransientMenu-container-style-default,
.PrismTokenCodeBlockRenderer-container,
.ActionBubbleButton-icon-container,
.TeamBotsManagerEmptyState-container,
.TeamBotsManagerEmptyStateDefaultBot-container,
.BotInfoBody-container,
.TeamBotsManagerBotSettingsExternal-kick,
.TeamBotsManagerBotSettings-delete,
.TeamBotsManagerBotApi-cta,
.TeamBotsManagerBotApi-publish,
.BannerWithButton-container,
.FormSection-container,
.TagDisplayItemV2-container,
.BotCard-tag,
.ApplyToTeam-container,
.ChatV2MessageReplyTooltip-content-wrapper,
.GoldenProgressBar-container,
.GroupSettingsPanel-container,
.RadioOptionPanel-container,
.TeamSettingsAddIntegration-container,
.SocialLinkPanel-header,
.GuildedBadge-container,
.CopyableTextbox-container,
.TeamWidgetProfileDetails-container,
.ChannelPill-container,
.MentionV2-container,
.OnlineStatusDisplay-container,
.DraggableHandle-container,
.NavV4Footer-footer-content,
.SaveConfirmationBanner-wrapper,
.TeamThreadPostPanelDisplay-container,
.TeamThreadReplyCreator-unexpanded-wrapper,
.TeamPageSidebarMembersV2-container,
.DocViewer-container,
.DocSummaryInfo-container,
.SlateContainerRenderer,
.ReactionBadge-container-content,
.TeamPostRow-container,
.TeamListItemWrapper-container,
.TeamOverviewContentItemCard-container,
.StreamChannelDisplay-container,
.FullSizedCalendarDay-container,
.VoiceChannelDisplay-container,
.AvailabilityDisplay-container,
.DefaultContentEmbedCard-content-wrapper,
.ContentEmbedCardFooter-container,
.TeamApplicationInlineLink-container,
.SearchBarInput-input,
.QuickActionBar-container,
.TeamThreadPostEditor-container,
.MultiUserAvatar-user,
.UserBadges-badge,
.ChatSummary-container,
.OptionsMenuPageWrapper-container,
.DefaultReadonlyEditableForm-container,
.HorizontalTab-container-selected,
.PersistentUpsell-container,
.VoiceInputConfigurationPanel-audio-input-mode-option,
.VoiceInputSensitivitySettingsPanel-auto-input:not(.VoiceInputSensitivitySettingsPanel-auto-input-flash),
.RangeSlider-rail,
.HotkeyRecorder-container,
.ItemKeybindInput-container,
.DeepSearchOverlay-container,
.DeepSearchRecentQuery-container,
.DeepSearchOverlayFooter-content-command,
.DeepSearchOverlayFooter-content-icon,
.DeepSearchResultInfo-preview,
.TeamMemberRolePill-container,
.UserAliasesListDisplayPill-container,
.ChatV2Message-container-private-other,
.PercentageBar-backplate-div,
.SidebarWrapper-container,
.ChatChannelInput-container .ChatChannelInput-editor {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.NavV4TeamSelectorBottomOptionsList-container {
  position: unset !important;
  align-content: center !important;
  align-items: center !important;
  justify-content: center !important;
}

.ChatV2MessageReplyTooltip-arrow,
.TeamCardV3-avatar-blurred-backdrop,
.BotCard-avatar-blurred-backdrop {
  visibility: hidden !important;
}

.TeamChannelItemContents-container,
.TeamNavSectionItem-container,
.NavV4SectionSidebarOption-container,
.NavV4SectionSidebarOption-container::after,
.GuildedSelect-container,
.Select-control,
.AvailabilityDisplayHeader-button,
.HotkeyRecorder-container,
.CollapsedInput-container-size-sm {
  border-radius: 30px;
}

@keyframes bounce {
	0%, 60%, 75%, 90%, 100% {transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
    0% {opacity: 0; transform: translate3d(1000px, 0, 0); transform: translate3d(-1000px, 0, 0);}
    60% {opacity: 1; transform: translate3d(25px, 0, 0); transform: translate3d(25px, 0, 0);}
    75% {transform: translate3d(10px, 0, 0); transform: translate3d(-10px, 0, 0);}
    90% {transform: translate3d(5px, 0, 0); transform: translate3d(5px, 0, 0);}
    100% {opacity: 1;}
}

#app .ChatV2Message-content-container {animation: bounce 1s ease-out;}

.ChatV2MessageHeader-name-text {
  border-left: 6px solid currentColor;
  border-radius: 0px;
  background: none;
  padding: 0 0.5vw;
}
.ChatV2Message-reply-headers > div > span.EnableAnimationsOnHover-hover-wrapper > div > div > div > div,
.ChatV2Message-reply-headers > div > span.EnableAnimationsOnHover-hover-wrapper > div > div > div > span {
  border-left: 6px solid currentColor;
  border-radius: 0px 0px 0px 0px;
  background: none;
  padding: 0 0.5vw;
}
.ChatV2MessageReplyHeader-message-summary {
  background: none;
  border-radius: 0px 0px 0px 0px;
  flex: initial;
  margin-left: 0px;
  padding: 0px 0.5vw;
}
.MentionV2-container {
  border-radius: 0px;
  display: inline;
}
.MentionV2-text {
  display: inline;
  margin-left: -4px;
  border-radius: 0px;
  padding: 0 0.25vw;
  border-left: 6px solid currentColor;
}

.ProfileHoverCardHeader-tag-line {
  white-space: normal;
  text-align: center;
}

.ProfileHoverCardOverlay-container {
  min-width: 260px;
  width: 25vw;
  background: transparent !important;
  box-shadow: none !important;
}

.ProfileHoverCardActionBubbles-container {
  justify-content: center;
  grid-gap: 15px;
}

.AppV2-container-minimal-nav {
  --team-selector-avatar-border-radius: 250px;
}

.AppV2-container-minimal-nav {
  --team-selector-avatar-highlight-border-radius: 250px;
  --team-selector-avatar-border-radius: 250px;
}

.MaskedOnlineStatusImage-container {
  border-radius: 250px;
}

.TeamAvatar-container {
  border-radius: 250px;
}

.TeamCardV3-avatar-blurred-backdrop {
  border-radius: 250px;
}

.TeamCardV2-avatar {
  border-radius: 250px;
}

.TeamPlaqueV2-profile-pic {
  border-radius: 250px;
}

.TeamPlaqueV2-profile-pic-placeholder::after {
  border-radius: 250px;
}

.TeamPlaqueV2-container-desktop .TeamPlaqueV2-profile-pic-placeholder {
  border-radius: 250px;
}

.GroupAvatar-icon {
  border-radius: 250px;
}

.GroupSelectorItem-container {
  --avatar-highlight-border-radius: 250px;
}

.GroupAvatarTextLabel-layer {
  border-radius: 250px;
}

.InlineAddItemControl-container {
  --inline-add-item-border-radius: 250px;
}

.NavV4BadgedItem-container::after {
  border-radius: 250px;
}

.NavV4BadgedItem-image, .NavV4BadgedItem-icon-wrapper {
  border-radius: 250px;
}

.UserStatus-status,
.UserAttributionDisplay-header,
.TeamMemberRolesDisplay-header,
.TeamMemberRolesDisplay-list,
.UserAliasesListDisplay-header {
  justify-content: center;
  text-align: center;
}

.UserTeamXpDisplay-container {
  border-radius: 5px;
  background: none;
  padding: 10px 0.5vw;
}

.DefaultContentEmbedCard-content-fade-overflow::after {
  display: none;
}
.ContentEmbedCard-close-wrapper {
  height: max-content;
  max-width: 420px;
}
.ContentEmbedCard-container {
  width: 100%;
  height: max-content;
}
.DefaultContentEmbedCard-content-wrapper {
  height: max-content;
}

.SidebarUsersRoleInfo-header {
  border-radius: 0.5rem;
  background: none;
  text-align: center;
  padding: 0px 8px;
}

.SidebarInviteButton-container {
  display: none;
}

.TeamPageNavV3-header {
  min-height: 76px;
}

.TeamNavHeader-header-columns-with-carat .TeamNavHeader-options-carat-searchable {
  padding-bottom: 10px;
}

.TeamSearchBar-container {
  display: none;
}

.TeamNavSectionsList-header {
  display: none;
}

.TeamNavSectionsList-container {
  align-self: center;
  align-items: center;
  border-radius: 0.5rem;
  background: none;
  margin-top: 10px;
  padding: 0px;
  width: 200px;
}

.TeamNavSectionItem-container {
  height: 24px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.TeamChannelsList-header {
  display: none;
}

.TeamChannelCategoryHeader-header {
  align-self: center;
  border-radius: 0.5rem;
  background: none;
  text-align: center;
  padding: 0px 10px;
  font-weight: bold;
  height: 26px;
  width: 260px;
}

.TeamChannelItemContents-container {
  height: 28px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.TeamChannelItemContents-name {
  font-size: 15px;
  line-height: 18px;
}

.TeamChannelItemContents-container-unread .TeamChannelItemContents-name, .TeamChannelItemContents-container-channel-content .TeamChannelItemContents-name {
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  background: rgba(255, 255, 255, 1);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

@-webkit-keyframes pulsate {
  0% { 
    opacity: 0.3;
  }
  50% { 
    opacity: 1.0;
  }
  100% { 
    opacity: 0.3;
  }
}

.TypeaheadDrawer-container,
.SlateTypeaheadMenuHeader-container,
.MenuItemEnabled-container-highlighted {
  border-radius: 20px;
  border: none;
}

.PlayerCardProfilePicture-avatar, .UserProfilePictureControl-picture, .CircleImageStack-image {
  -webkit-mask: center/cover no-repeat;
}

:only-child>.PlayerCardProfilePicture-avatar:only-child {
  -webkit-mask: none !important;
}

.PlayerCardProfilePicture-container-size-sm .PlayerCardProfilePicture-avatar {
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'><mask id='m'><circle fill='white' cx='0.5' cy='0.5' r='0.5'/><circle fill='black' cx='0.84375' cy='0.84375' r='0.25'/></mask><rect fill='black' x='0' y='0' width='1' height='1' mask='url(%23m)'/></svg>");
}

.CircleImageStack-container-size-md .CircleImageStack-image {
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'><mask id='m'><circle fill='white' cx='0.5' cy='0.5' r='0.5'/><circle fill='black' cx='0.7857142857' cy='0.7857142857' r='0.25'/></mask><rect fill='black' x='0' y='0' width='1' height='1' mask='url(%23m)'/></svg>");
}

.PlayerCardProfilePicture-container-size-md .PlayerCardProfilePicture-avatar {
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'><mask id='m'><circle fill='white' cx='0.5' cy='0.5' r='0.5'/><circle fill='black' cx='0.8571428571' cy='0.8571428571' r='0.2380952381'/></mask><rect fill='black' x='0' y='0' width='1' height='1' mask='url(%23m)'/></svg>");
}

.ItemManagerListItem-icon-wrapper .PlayerCardProfilePicture-container-size-md .PlayerCardProfilePicture-avatar {
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'><mask id='m'><circle fill='white' cx='0.5' cy='0.5' r='0.5'/><circle fill='black' cx='0.8125' cy='0.8125' r='0.28125'/></mask><rect fill='black' x='0' y='0' width='1' height='1' mask='url(%23m)'/></svg>");
}

.PlayerCardProfilePicture-container-size-lg .PlayerCardProfilePicture-avatar {
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'><mask id='m'><circle fill='white' cx='0.5' cy='0.5' r='0.5'/><circle fill='black' cx='0.875' cy='0.875' r='0.2083333333'/></mask><rect fill='black' x='0' y='0' width='1' height='1' mask='url(%23m)'/></svg>");
}

.PlayerCardProfilePicture-container-size-xlg .PlayerCardProfilePicture-avatar {
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'><mask id='m'><circle fill='white' cx='0.5' cy='0.5' r='0.5'/><circle fill='black' cx='0.8541666667' cy='0.8541666667' r='0.1875'/></mask><rect fill='black' x='0' y='0' width='1' height='1' mask='url(%23m)'/></svg>");
}

.UserProfilePictureControl-picture {
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'><mask id='m'><circle fill='white' cx='0.5' cy='0.5' r='0.5'/><circle fill='black' cx='0.8833333333' cy='0.8833333333' r='0.1583333333'/></mask><rect fill='black' x='0' y='0' width='1' height='1' mask='url(%23m)'/></svg>");
}

.OnlineStatusDisplay-container {
  border: unset;
  border-radius: 50%;
  -webkit-mask: center/calc(100% - 4px) no-repeat;
}

.ContextMenuIcon-container-color {
  -webkit-mask: center/cover no-repeat;
}

.UserProfilePictureControl-online-status {
  right: 0; 
}

.OnlineStatusDisplay-container-size-xlg {
  width: 28px;
  height: 28px;
}

.TeamWidgetProfileDetails-container-size-md .OnlineStatusDisplay-container-size-sm {
  width: 16px;
  height: 16px;
  bottom: -1px;
  right: -1px;
}

.TeamWidgetProfileDetails-container-size-md-lg .OnlineStatusDisplay-container-size-md {
  width: 20px;
  height: 20px;
}

.OnlineStatusDisplay-container-size-xs {
  width: 14px;
  height: 14px;
}

.LoggedInUserAvatar-online-status {
  padding: 2px;
  background: none;
}

:is(.ContextMenuIcon-container-color, .OnlineStatusDisplay-container)[style="background-color: rgb(83, 218, 51);"] {
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'><circle fill='white' cx='0.5' cy='0.5' r='0.5'/></svg>");
  background-color: hsl(139, 47.3%, 43.9%) !important;
}

:is(.ContextMenuIcon-container-color, .OnlineStatusDisplay-container)[style="background-color: rgb(223, 83, 83);"] {
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'><mask id='m'><circle fill='white' cx='0.5' cy='0.5' r='0.5'/><rect fill='black' x='0.125' y='0.375' width='0.75' height='0.25' rx='0.125' ry='0.125'/></mask><rect fill='black' x='0' y='0' width='1' height='1' mask='url(%23m)'/></svg>");
  background-color: hsl(359, 82.6%, 59.4%) !important;
}

:is(.ContextMenuIcon-container-color, .OnlineStatusDisplay-container)[style="background-color: rgb(236, 178, 0);"] {
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'><mask id='m'><circle fill='white' cx='0.5' cy='0.5' r='0.5'/><circle fill='black' cx='0.25' cy='0.25' r='0.375'/></mask><rect fill='black' x='0' y='0' width='1' height='1' mask='url(%23m)'/></svg>");
  background-color: hsl(38, 95.7%, 54.1%) !important;
}

:is(.ContextMenuIcon-container-color, .OnlineStatusDisplay-container)[style="background-color: rgb(145, 70, 255);"] {
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'><mask id='m'><circle fill='white' cx='0.5' cy='0.5' r='0.5'/><polygon fill='black' points='0.35,0.25 0.78301275,0.5 0.35,0.75'/></mask><rect fill='black' x='0' y='0' width='1' height='1' mask='url(%23m)'/></svg>");
  background-color: hsl(262, 46.8%, 39.8%) !important;
}

:is(.ContextMenuIcon-container-color, .OnlineStatusDisplay-container)[style="background-color: rgb(163, 163, 172);"] {
  -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'><mask id='m'><circle fill='white' cx='0.5' cy='0.5' r='0.5'/><circle fill='black' cx='0.5' cy='0.5' r='0.25'/></mask><rect fill='black' x='0' y='0' width='1' height='1' mask='url(%23m)'/></svg>");
  background-color: hsl(214, 9.9%, 50.4%) !important;
}

.NavV4BadgedItemIcons-dms,
.NavV4BadgedItemIcons-servers,
.NavV4FooterGlobalContextDisplay-teams-wrapper {
  display: none;
}

::-webkit-scrollbar {
  display: none !important;
}

.NavV4TeamSelector-options-list .NavV4SelectorRow-container {
  right: 10px !important;
}

.ChatV2Message-container-mentioned::after,
.ChatV2Message-container-private-other::after {
  display: none !important;
}

.ChatV2Message-container-mentioned:not(.ChatV2MessageReplyHeader-container) {
  right: 5px !important;
}

.WebAppV2-container.WebAppV2-container-has-sidebar:not(.WebAppV2-container-menu-activated) {
  transform: translateX(64px);
  max-width: calc(100% - 64px);
}

.NavV4SidebarFooter-container {
  padding-left: 65px;
}

.NavV4Footer-footer-content {
  padding-left: 0;
}

.NavV4BadgedItemIcons-dms {
  display: none;
}

.WebAppV2-container {
  --team-page-nav-width: 295px !important;
}


.WebAppV2-sidebar {
  --team-page-nav-width: 295px !important;
}

.GroupSelector-container {
  width: 55px;
}

.GroupAvatar-container {
  --avatar-size: 30px;
  margin-left: 5px;
}

.NavSelectorItem-contents:after {
  --avatar-size: 30px;
  margin-left: 5px;
}

.NavSelectorItem-container-orientation-horizontal.NavSelectorItem-container-unread:before {
  top: calc(50% - 10px);
}

.NavV4SelectorRow-icon {
  border-radius: 50rem;
}

.NavV4SelectorRow-container-icon-outline:hover .NavV4SelectorRow-icon {
  border-radius: 1rem;
}

.NavV4TeamSelectorRow-container-active .NavV4SelectorRow-icon {
  border-radius: 1rem;
}

.NavV4TeamSelectorTeamList-container .NavV4SelectorRow-icon-container {
  --team-selector-avatar-size: 42px;
  left: -4px;
}

.NavV4SelectorRow-container-icon-outline.NavV4SelectorRow-container-active .NavV4SelectorRow-icon-container:after {
  background-color: white;
  left: -59px;
  top: 0px;
  height: 100%;
}

.NavV4SelectorRow-container-icon-outline:hover:not(.NavV4SelectorRow-container-active) .NavV4SelectorRow-icon-container:after {
  transition: background-color 0.3s;
  background-color: #ffffffd9;
  left: -59px;
  top: 10px;
  height: 63%;
}

.ModalV2-container-fullscreen, 
.MediaSplitView-container-desktop {
  max-width: 70vw;
  height: 85vh;
}

.CreateGroupOverlayWrapper-content {
  zoom: 0.8;
}

.StreamTheaterViewer-container {
  margin-left: -25vw;
  margin-top: -6.4vh;
}

.StreamTheaterViewer-chat-portal {
  background-color: #373943;
}

.ModalV2-container-fullscreen, 
.MediaSplitView-container-desktop {
  border-radius: 10px;
}

.ModalV2-container-fullscreen > div {
  border-radius: 10px;
}

.MediaSplitView-media {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.MediaSplitView-info-pane {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.TeamBotsManagerSidebar-container,
.TeamBotsManagerSidebarLink-icon-wrapper,
.DeepSearchOverlay-empty-modifiers-text,
.UserProfileV3-container-minimal-nav-active,
.LastReplyDisplay-container.LastReplyDisplay-container-indicator-color-gilded:not(.LastReplyDisplay-container-unread):before,
.ItemManagerListItem-container,
.ItemManagerHeader-container,
.ApplicantDisplayItem-container,
.FullSizedCalendar-week,
.MediaDisplayItemV3-container,
.PlayerGameStatsCategorySelectorWrapper-container,
.PlayerGameSimpleStatsTile-container,
.UserInfoSummaryItem-container,
.UserAliasAdditionalInfoDisplayWrapper-container,
.OptionsMenu-options-control,
.ServerSubscriptionBar-container,
.UserSettingsServerSubscriptionsUpsell-container,
.ModalV2-container-fullscreen,
.CustomFormWrapper-container,
.TeamOverviewLeaderboardSection-leaderboard-container,
.TeamPageContent-container {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.TeamBotsManagerSidebarBot-icon,
.TeamBotsManagerEmptyStateDefaultBot-icon,
.BotInfoHeaderAvatar-icon {
  border-radius: 8% !important;
}

.BotInfoHeaderAvatar-status {
  right: -12.5px !important;
  bottom: -12.5px !important;
}

#icon-verified-badge path:first-child {
  fill: rgba(215, 134, 20, 1) !important;
  stroke: rgba(0, 0, 0, 0.25) !important;
  stroke-width: 2px !important;
}
